$prime-color: rgb(75, 175, 230);
$second-color: rgb(4, 47, 123);
$my-gray-color: rgb(240, 240, 240);
$my-darkgray-color: darken($my-gray-color, 10%);
$error-color: firebrick;

$header-height: 3rem;
$patient-info-width: 30vw;